@import "prismjs/themes/prism-coy.css";
body{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

:root{
    --header-height: 100px;
    --primary-300: #ff7644;
    --primary-400: #ff713d;
    --primary-500: #ff6e37;
    --dark-300: #4B5563
}


.navigation{
     //background: #cdd8fa;
     background: #ffdfd3;
    //@apply bg-primary-400/20;
    padding: 10px 0;
    box-shadow: 0 2px 11px 0px #4545457d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;

}
.header-height{
    height: var(--header-height);
}

.container{
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

li{
    list-style: none;
}

.docs-content {
    section{
        padding-top: 30px;
        margin-top: -30px;
    }
}

.body-para{
    font-size: 14px;
    color: #545454;
    margin-top: 16px;
}
