:root{
    --sidebar-width: 240px
}
.main-sidebar{
    width: var(--sidebar-width);
    background-color: #ffffff;
    //box-shadow: 2px 2px 30px -6px #656565;
    height:  calc(100vh - var(--header-height));
    overflow-y: auto;
    .collapse-item{
        padding: 10px 10px 10px 16px;
        &:hover{
            background-color: rgba(255, 118, 68, 0.1) !important;
        }
    }
    .collapse-item-h5{
        display: flex;
        align-items: center;
        font-size: 13px;
        padding: 8px 0px 8px 50px;
        &:hover{
            background-color: rgba(255, 118, 68, 0.1) !important;
        }
    }
    .collapse-item-active{
        background-color: rgba(255, 118, 68, 0.1) !important;
    }
    position: fixed;
    left: 0;
}

.main-content{
    margin-left: var(--sidebar-width);
    padding-left: 20px;
    width: 100%;


    .sticky-overview-content{
        position: sticky;
        top: calc(50px + var(--header-height));
        padding: 10px;
        .content-item{
            border-radius: 4px;
            padding: 0 4px;
            margin: 2px 0;
            list-style: none;
            font-size: 12px;
            color: #332d2d;
            &:hover{
                //color: #3b71ca;
                //font-weight: 500;
            }
            transition: all .2s ease;
            &.active-border-left{
                border-radius: 0;
                color: #3b71ca;
                font-weight: 500;
                border-left: 2px solid #3b71ca;
            }
        }
    }
}

